
body{
    background-color: lightgoldenrodyellow;
}
.header {
    overflow: hidden;
    background-color: greenyellow;
    padding: 20px 10px;
  }
  .header a {
    float: left;
    color: darkgreen;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
    top: 10%;
  }
  .header-right {
    float: right;
  }  
  .header h1.logo{
    font-weight: bold;
    font-size: 30px;
  }
  .container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
  }
  
  .container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
  }
  .sport {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    
  }
  
  .sport img {vertical-align: middle;}

 .sport .sport {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 200%;
      
  }
  .sport1 {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    
  }
  
  .sport1 img {vertical-align: middle;}

  .sport1 .sport1 {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
   background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 200%;
    
  }
footer{
    
    list-style-type: none;
    ruby-align: 100;
    height: 100;
    top: 10%;
font-size: medium;
width: 155%;
overflow: hidden;
    background-color: greenyellow;
    
}
.foot{
   display: flex;
      vertical-align: 10%;
      height: 100;
      top: 10%;
      position: relative;
    right: 10;
}
.column {
    margin-left: 40px;
    float: left;
    width: 30%;
    padding: 5px;

  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .head1{
     color: goldenrod;
  background-color: lawngreen;
  width: 120px; ;
  margin-left: 40px;
    }
    .head2{
        color: goldenrod;
     background-color: lawngreen;
     width: 120px; ;
     margin-left: 40px;
       }
       
     .head3{
        color: goldenrod;
        background-color: lawngreen;
        width: 270px; 
        margin-left: 25px;
          
     }
     .content-wrapper{
       width: 200%;
       position: relative;

     }
     .content-wrapper img{
       width: 20px;
     }
     .text-wrapper
     {
       width: 20%;
       position: relative;
     }
     .head4{
      color: goldenrod;
      background-color: lawngreen;
      width: 160px; ;
      margin-left: 40px;
      font-size: 50px;
     }
     .head5{
      color: goldenrod;
      background-color: lawngreen;
      width: 200px; ;
      margin-left: 100px;
      font-size: 50px;
      text-align: center;
  
     }
     p{
       font-size: 150%;
       color: gray;
     }
     h1{
       color: blueviolet;
     }
     h2{
       font-size: 400%;
       color: darkgreen;
     }